@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@{ int numero = 8;}

@if (numero > 9)
{
    <p>Menor</p>
}
else
{<p>Memnor</p>}